/* Main cтили для html */
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --accent-bg-color: #ffffff;
  --secondary-bg-color: #2f303a;
  --secondary-text-color: rgba(255, 255, 255, 0.6);
  --btn-bg-color: #f5f4fa;
  --socialIkon-color: #afb1b8;
}
* {
  padding: 0px;
  margin: 0px;
}
body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  background-color: var(--accent-bg-color);
  color: var(--title-text-color);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.container {
  width: 1200px;
  padding: 0 15px 0;
  margin: 0 auto;
}
/* Header */
.nav-container {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  text-decoration: none;
  color: var(--title-text-color);
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
}
.logo-span {
  color: #2077c9;
}
.site-nav-list {
  width: 294px;
  display: flex;
  justify-content: space-between;
  margin-right: 330px;
}
.auth-nav-list {
  width: 307px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.auth-nav-item {
  display: flex;
  align-items: center;
}
.site-nav-item:hover,
.auth-nav-item:hover,
.footer-auth-nav-item:hover {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.site-nav-item,
.auth-nav-item {
  color: var(--primary-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
/*__________*/

/* Footer */
footer {
  background-color: var(--secondary-bg-color);
}
.footer-container {
  display: flex;
  flex-direction: row;
  padding-top: 60px;
  padding-bottom: 60px;
}
footer .logo {
  color: var(--accent-bg-color);
}
footer .logo-span {
  color: var(--accent-color);
}
.footer-address {
  margin-top: 20px;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--accent-bg-color);
}
.footer-auth-nav-list {
  margin-right: 70px;
}
.footer-auth-nav-item {
  padding-top: 9px;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.footer-auth-nav-item-link {
}
/* ________ */
/* Icons subscribe */
.icon-list {
  display: flex;
  justify-content: space-between;
}
.subscribe {
  width: 206px;
}
.subscribe .icon-list a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  fill: var(--btn-bg-color);
  background: rgba(255, 255, 255, 0.1);
}
.subscribe h2 {
  font-family: Roboto;
  font-style: normal;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--accent-bg-color);
}
.subscribe .icon-list a:hover,
.subscribe .icon-list a:focus {
  background-color: var(--accent-color);
  fill: var(--btn-bg-color);
}
/* _______ */
