/* Main cтили для html */
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --accent-bg-color: #ffffff;
  --secondary-bg-color: #2f303a;
  --secondary-text-color: rgba(255, 255, 255, 0.6);
  --btn-bg-color: #f5f4fa;
}
* {
  padding: 0px;
  margin: 0px;
}
body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
  background-color: var(--accent-bg-color);
  color: var(--title-text-color);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.container {
  width: 1200px;
  padding: 0 15px 0;
  margin: 0 auto;
}
/* Header */
.nav-container {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  text-decoration: none;
  color: var(--title-text-color);
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
}
.logo-span {
  color: #2077c9;
}
.site-nav-list {
  width: 294px;
  display: flex;
  justify-content: space-between;
  margin-right: 330px;
}
.site-nav-item:hover,
.auth-nav-item:hover,
.footer-auth-nav-item:hover {
  color: var(--accent-color);
}
.site-nav-item-link,
.auth-nav-item-link {
  font-family: inherit;
  font-weight: 500;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
}
.auth-nav-list {
  width: 307px;
  display: flex;
  justify-content: space-between;
}
/*__________*/

/* Footer */
footer {
  background-color: var(--secondary-bg-color);
}
.footer-container {
  padding-top: 60px;
  padding-bottom: 60px;
}
footer .logo {
  color: var(--accent-bg-color);
}
footer .logo-span {
  color: var(--accent-color);
}
.footer-address {
  margin-top: 20px;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--accent-bg-color);
}
.footer-auth-nav-list {
}
.footer-auth-nav-item {
  padding-top: 9px;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.footer-auth-nav-item-link {
}
/* ________ */
